
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
/* --------- start navbar --------------- */
.ico-css {
    color: white;
}


.nav{
  background-color: #f4f4f4;
    padding: 2% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

/* ham */
nav {
  font-family: monospace;
}

.checkbtn {
  font-size: 30px;
  color: blue;
  float: right;
  line-height: 80px;
  cursor: pointer;
    display:none;
}

#check {
  display: none;
}

@media (max-width:952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width:1000px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #7eb7f1;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  
  }

  nav ul li {
    display: block;
    margin: 40px 0;
    line-height: 30px;
 

  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: blue;
    z-index: 1;

  }

  #check:checked~ul {
    left: 0;
    z-index: 1;
  }

}



@media (min-width:1001px) {
    
.left ul {
  display: flex;
  flex-wrap: wrap;
}

.left ul li {
  margin: 10px;
  font-family:  'Poppins', sans-serif;
  transition: 200ms ease-in;
}

.left ul li:hover,.col:hover{
  color: rgb(0, 183, 255);
}
}

/* --------- end navbar --------------- */
/* <!--------- start slide1 display -----------------> */
.slide1-disp {
  display: flex;
  background-color: #f4f4f4;
  justify-content: space-between;
  align-items: center;
}

.bg-img-dis1{
  width: 50%;
  background-image: url(/image/dis-1\ orange\ bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}


.left-dis p {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 65px;
}
 .left-dis{
    margin-inline: auto;
 } 

.right-dis img:hover{
    transform: translate(-30px, -30px);
    transition: 2s ease-out;
}

.video-lin{
    padding-left: 15px;
    font-size: medium;
    font-family: 'Poppins',sans-serif;
    font-weight: 300 !important;
}

.d1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 12px 0;
}
/* <!--------- end slide1 display -----------------> */
/* <!--------- start slide2 display -----------------> */
.container {
    background-color: #5d42d3;
}

.slide2-disp {
    padding: 0 8rem;
    color: white;
}

.heading-content {
    font-size: 50px;
    line-height: 80px !important;
    color: #ffffff;
}

.heading-content h2 {
    font-family: 'Poppins', sans-serif;
}

.ele1 {
    display: flex;
}

.ele1 i {
    padding-right: 20px;
}

.heading_ele {
    line-height: 27px;
}

.heading_ele p {
    font-size: 16px;
    opacity: 0.8;
}

.slide2-element {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 327px;
    min-width: 326px;
}

.responsive-img {
    width: 100%;
    height: auto;
}

/* <!--------- end slide2 display -----------------> */
/* <!--------- gallery-bg display -----------------> */
.gallery-bg{
  background-color: #252525;
  
}
.gallery{
    max-width: 900px;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    position: relative;
    margin-top: -1000px;        
}

.h-stretch{
    grid-row: span 2;
}
.gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* <!--------- start slide3 display -----------------> */

/* start card display-3 */
.card-title {
font-size: 22px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
color: #8b8b8b;
}
.card-description {
padding: 0 10px;
font-size: 16px;
line-height: 1.5;
max-width: 210px;
margin-inline: auto;
}
.card-description h3{
  font-size: 18px;
  font-weight: 400;
  font-family: 'Poppins',sans-serif;
}
.card-description h3{
margin-top:20px;
margin-bottom: 0px;
color:#00b49d;
}
.card-description p{
    padding-top:20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    opacity: 0.7;
}
.dis3-card{
display: flex;
background-color: #fff;
width: 500px;
height: auto;
margin: 10px 10px;
box-shadow: 1px 1px 3px rgb(157 152 152);
border-top-right-radius: 10px;
border-bottom-right-radius: 9px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
.dis3-card img{
/* width: 211px; */
width: 40%;
height: auto;
background-size: cover;
background-position: center;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.continer3-inner{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin:0 30px;
}
/* End card display-3 */
/* start Btn display-3 */
.dis3-btn,.dis5-btn{
text-align: center;
}
.dis3-btn a span,.dis5-btn a span,.dis6-btn a span{
font-size: 14px;
padding: 18px 34px;
border-radius: 40px;
background-color: #08d7bd;
color: #ffffff;
font-weight: bolder;
font-family: 'Poppins',sans-serif;
}
.dis3-btn a span:hover{
background-color: #fff;
border:1px solid #08d7bd;
color: #08d7bd;
}  
/* End Btn display-3 */
/* <!--------- end slide3 display -----------------> */
/* <!--------- start slide4 display -----------------> */
.container4 {
  background-color: #5d42d3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    color: #fff;
  }

  .card1-blue-01,.card1-blue-02,.card1-blue-03{
    width: 500px;
    height: auto;
    overflow: hidden;
    padding: 0 50px;
  }
  .card1-blue-01{
    background-image: url(./image/blue-01.png_id=469);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
  }
  .card1-blue-02{
    background-image: url(./image/blue-02.png_id=470);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
    overflow: hidden;
  }
  .card1-blue-03{
    background-image: url(./image/blue-03\ .png_id=471);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
    overflow: hidden;
  }

  .sh-heading {
    font-size: 35px;
  }
  .sh-heading h2 span {
    margin: -20px 0;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
  }
  .card-description_ p{
    font-size: medium;
    opacity: 0.7;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
/* <!--------- end slide4 display -----------------> */
/* <!--------- Start slide5 display -----------------> */
    /* start display-5 */
    
      .sh-heading-dis-5,.contact-info{
        color: rgb(89, 88, 88);
        display: block;
        text-align: center;
      }
  
      .sh-heading-dis-5 h2 ,.contact-info h2{
        font-size: 45px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
      }
  
      .sh-heading-dis-5 p {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300 !important;
      }
  
      .cards-dis-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
  
      .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid rgb(161, 159, 159);
        text-align: center;
      }
  
      .card1-dis-5 {
        box-shadow: 0px 1px 2px 1px #beafaf;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 15px;
        text-align: center;
        width: 400px;
        height: 370px;
        border-radius: 5px;
        margin: 10px 10px;
      }
  
      .card-desc-dis-5 p {
        padding: 0 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: normal;
        opacity: 0.7;
      }
      .card-desc-dis-5 h3{
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
      }
      /* ------- some propert of btn in display 3  -------- */
      .dis5-btn a span {
        background-color: rgb(244, 79, 85);
      }
  
      .dis5-btn a span:hover {
        background-color: white;
        border: 1px solid rgb(255, 0, 119);
        color: rgb(255, 0, 98);
      }
      /* end display-5 */
/* <!--------- end slide5 display -----------------> */
/* <!--------- start slide6 display -----------------> */
/* start display-6 */
.dis-6{
  background-image: URL(./image/subscribe\ image\ .jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.heading-subscribe-sec span{
  color: #fff;
  font-size: 40px;
  font-family: 'Poppins',sans-serif;
  font-weight: 800;
}
.email-btn-div{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#mail {
  width: 65%;
  height: 48%;
  padding: 18px 34px;
  border-radius: 40px;
  border: none;
}
#mail:hover,#mail:active{
  color: #8b8b8b!important;
  border-color: rgba(0,0,0,0.01)!important;
  transition: 0.3s all ease-in-out;
  border: none;
}
::placeholder{
  font-size: 20px;
  font-size: medium;
  font-family: 'Poppins',sans-serif;
  font-weight: 300; 
}

/* ------- some properties of btn in display 3  -------- */
/* .dis6-btn */
.dis6-btn a span {
  background-color: rgb(20, 224, 214);
}

.dis6-btn a span:hover {
  background-color:rgb(58, 212, 212) ;
  color:white;
} 
/* end display-6 */
/* <!--------- end slide6 display -----------------> */





/*--------------- start footer ------------ */
footer {
    background-color: #363636;
    color: white;
    padding: 80px 120px;

}

.foot-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foot-2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.foot-2 h2 {
    letter-spacing: 3px;
}

.contain_box {
    width: 275px;
    min-width: 275px;
}

.contain_box h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 0;
    letter-spacing: 1px;
}

.contain_box p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.ele2 i {
    padding-right: 20px;
}

.ele2 i:hover {
    width: 40px;
    height: auto;
    color: cyan;
}

#footer-product-img{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  grid-auto-rows: 150px;
}
.grid-item img{
  width: 100%;
  height: auto;
  cursor: pointer;
}
/*--------------- end footer ------------ */





/* //responsive */
@media screen and (max-width: 600px) {
    .heading-content h2 span{
        font-size: 60px;
    }
    .slide2-disp {
    padding: 1.5rem;
    }
    footer{
      padding: 2rem;
    }
    .heading-subscribe-sec span {
      font-size: 2rem;
      text-align: center;
    }
   
}

@media (max-width: 420px) { 
  .left-dis p {
    font-size: 40px;
}
.sh-heading h2 span {
  font-size: 70%;
  font-weight: 600;
}

.card1-blue-01, .card1-blue-02, .card1-blue-03 {
  padding: 34px;
}

.bg-img-dis1 {
  width: 100%;
}


.card1-dis-5 {
  margin: 22px 33px;
}

.email-btn-div{
  width: 90%;
}

.left-dis {
  text-align: center;
}


} 

@media (max-width: 1212px) { 
  .slide1-disp {
    flex-direction: column;
}
} 

@media (max-width: 350px) { 
  .heading_ele {
    width: 70%;
    line-height: 17px;
}
} 

@media(max-width:460px){
  .gallery {
    max-width: 326px !important;
}
}

